<div class="list-container">
    <h4>LISTADO DE TAREAS</h4>

    <p>
        <input [(ngModel)]='textoNuevo' placeholder='Descripción de nueva tarea' />
        <button (click)='crearNuevaTarea()'>Crear nueva tarea</button>
    </p>

    <div *ngFor="let todo of listado.listado">
        <app-todo [todo]='todo' (todoABorrar)='borrarTarea($event)'></app-todo>
    </div>
</div>