<!-- Modificamos color de fondo del p con lo que nos devuelva getColorTarea -->
<p [style.background]='get_colorTarea()' [style.text-decoration]='todo.estado ? "line-through" : ""'>
    <input type='checkbox' (click)='cambiarEstado()' [class]='todo.estado ? "checked" : ""' />
    <span class="todo_description">{{todo.nombre}}</span> 
    <!-- <button (click)='cambiarEstado()>Cambiar Estado</button> -->
    <button class="borrar" (click)='borrar()'>Borrar Tarea</button>
</p>
